Repository Ichimonji10/cfg: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-playbook-syntax-check, pylint

ansible-playbook-syntax-check:
  name: Check Ansible playbook syntax
  entry: ansible-playbook
  args:
  - --syntax-check
  language: system

pylint:
  name: pylint
  entry: pylint
  args:
  - --disable
  - bad-continuation,line-too-long
  - -j
  - '0'
  language: system
  require_serial: true

export REQUESTS_CA_BUNDLE in redhat tmuxp profile
  ansible/roles/user_ichimonji10/files/config_tmuxp/redhat.yml
Due: none

Run entr in non-interactive mode
  ansible/roles/user_ichimonji10/templates/sphinx-rebuild.service
Due: none

Update pre-commit hooks
  .pre-commit-config.yaml
  ansible/roles/pacman_conf/tasks/main.yml
Due: none

Add "presentation" tmuxp profile
  ansible/roles/user_ichimonji10/files/config_tmuxp/presentation.yml
Due: none

Describe Funkwhale update procedure
  README.rst
Due: none

Update funkwhale to version 1.1.2
  docker/docker-compose.yml
Due: none

Install Slack on workstations
  ansible/roles/workstation/tasks/main.yml
Due: none

Drop uefi role
  ansible/inventory
  ansible/roles/uefi/README.md
  ansible/roles/uefi/tasks/main.yml
  ansible/site.yml
Due: ansible-playbook-syntax-check

Rewrite Docker roles
  ansible/group_vars/all/vars
  ansible/roles/docker/README.rst
  ansible/roles/docker/defaults/main.yml
  ansible/roles/docker/tasks/main.yml
  ansible/roles/dockerd/README.rst
  ansible/roles/dockerd/files/daemon.json
  ansible/roles/dockerd/handlers/main.yml
  ansible/roles/dockerd/tasks/main.yml
  ansible/site.yml
Due: ansible-playbook-syntax-check

Drop vm_hosts group
  ansible/inventory
  ansible/roles/nft/README.rst
  ansible/roles/nft/templates/nftables.conf
  ansible/roles/user_ichimonji10/meta/main.yml
  ansible/roles/user_ichimonji10/tasks/libvirt.yml
  ansible/roles/user_ichimonji10/tasks/main.yml
  ansible/site.yml
Due: ansible-playbook-syntax-check

Rewrite lm_sensors role
  ansible/roles/lm_sensors/tasks/main.yml
Due: none

Drop group_wheel role
  ansible/roles/group_wheel/README.md
  ansible/roles/group_wheel/files/wheel-group
  ansible/roles/group_wheel/tasks/main.yml
  ansible/roles/user_ichimonji10/meta/main.yml
Due: none

Rewrite user role
  ansible/roles/user_ichimonji10/README.md
  ansible/roles/user_ichimonji10/files/config
  ansible/roles/user_ichimonji10/files/libvirt.conf
  ansible/roles/user_ichimonji10/files/ssh_includes/50-jerebear-name
  ansible/roles/user_ichimonji10/files/ssh_includes/50-public
  ansible/roles/user_ichimonji10/files/ssh_includes/50-work
  ansible/roles/user_ichimonji10/meta/main.yml
  ansible/roles/user_ichimonji10/tasks/bash.yml
  ansible/roles/user_ichimonji10/tasks/git.yml
  ansible/roles/user_ichimonji10/tasks/libvirt.yml
  ansible/roles/user_ichimonji10/tasks/main.yml
  ansible/roles/user_ichimonji10/tasks/other.yml
  ansible/roles/user_ichimonji10/tasks/python.yml
  ansible/roles/user_ichimonji10/tasks/ssh.yml
  ansible/roles/user_ichimonji10/tasks/tmuxp.yml
  ansible/roles/user_ichimonji10/tasks/vim.yml
  ansible/roles/user_jaudet/README.md
  ansible/roles/user_jaudet/files/bashrc.d/all
  ansible/roles/user_jaudet/files/config_git/config
  ansible/roles/user_jaudet/files/config_git/excludesfile
  ansible/roles/user_jaudet/files/config_pip/pip.conf
  ansible/roles/user_jaudet/files/config_tmuxp/cfg.yml
  ansible/roles/user_jaudet/files/config_tmuxp/presentation.yml
  ansible/roles/user_jaudet/files/config_tmuxp/redhat.yml
  ansible/roles/user_jaudet/files/pypirc
  ansible/roles/user_jaudet/files/vimrc
  ansible/roles/user_jaudet/tasks/bash.yml
  ansible/roles/user_jaudet/tasks/git.yml
  ansible/roles/user_jaudet/tasks/main.yml
  ansible/roles/user_jaudet/tasks/other.yml
  ansible/roles/user_jaudet/tasks/python.yml
  ansible/roles/user_jaudet/tasks/systemd.yml
  ansible/roles/user_jaudet/tasks/tmuxp.yml
  ansible/roles/user_jaudet/tasks/vim.yml
  ansible/roles/user_jaudet/templates/sphinx-rebuild.service
  ansible/site.yml
Due: ansible-playbook-syntax-check

Drop time role
  ansible/roles/time/README.md
  ansible/roles/time/tasks/main.yml
  ansible/site.yml
Due: ansible-playbook-syntax-check

Drop crda role
  ansible/roles/crda/README.rst
  ansible/roles/crda/files/wireless-regdom
  ansible/roles/crda/handlers/main.yml
  ansible/roles/crda/tasks/main.yml
  ansible/site.yml
Due: ansible-playbook-syntax-check

Update syncthing_usernames
  ansible/host_vars/beech.jerebear.name/vars
  ansible/host_vars/pine.jerebear.name/vars
  ansible/host_vars/tupelo.jerebear.name/vars
Due: none

Drop essential_apps role
  ansible/roles/essential_apps/README.md
  ansible/roles/essential_apps/tasks/main.yml
  ansible/roles/user_ichimonji10/meta/main.yml
  ansible/site.yml
Due: ansible-playbook-syntax-check

Apply syncthing to all hosts
  ansible/inventory
  ansible/site.yml
Due: ansible-playbook-syntax-check

Add reminder about encrypted data to readme
  README.rst
Due: none

Don't call nft role
  ansible/site.yml
Due: ansible-playbook-syntax-check

Reorganize inventory and playbook
  ansible/inventory
  ansible/site.yml
Due: ansible-playbook-syntax-check

Convert inventory to yaml
  ansible/ansible.cfg
  ansible/inventory
  ansible/inventory.yml
Due: none

Drop ucode role
  ansible/roles/ucode/README.md
  ansible/roles/ucode/tasks/main.yml
  ansible/site.yml
Due: ansible-playbook-syntax-check

Rewrite apcupsd role
  ansible/roles/apcupsd/tasks/main.yml
Due: none

Drop locale role
  ansible/roles/locale/README.md
  ansible/roles/locale/files/locale.conf
  ansible/roles/locale/tasks/main.yml
  ansible/site.yml
Due: ansible-playbook-syntax-check

Create ssh role
  ansible/group_vars/all/vars
  ansible/group_vars/all/vault
  ansible/roles/ssh/README.rst
  ansible/roles/ssh/files/jaudet/config
  ansible/roles/ssh/files/jaudet/includes/50-personal
  ansible/roles/ssh/files/jaudet/includes/50-work
  ansible/roles/ssh/tasks/main.yml
  ansible/roles/ssh/tasks/ssh-for-user.yml
  ansible/site.yml
Due: ansible-playbook-syntax-check

Update workstation role
  ansible/host_vars/beech.jerebear.name/vars
  ansible/host_vars/tupelo.jerebear.name/vars
  ansible/roles/workstation/README.rst
  ansible/roles/workstation/handlers/main.yml
  ansible/roles/workstation/tasks/main.yml
Due: none

Drop coreboot role and inventory group
  ansible/roles/coreboot/README.md
  ansible/roles/coreboot/tasks/main.yml
  ansible/site.yml
Due: ansible-playbook-syntax-check

Update syncthing role
  ansible/group_vars/all/vars
  ansible/host_vars/beech.jerebear.name/vars
  ansible/host_vars/pine.jerebear.name/vars
  ansible/host_vars/tupelo.jerebear.name/vars
  ansible/roles/syncthing/handlers/main.yml
  ansible/roles/syncthing/tasks/main.yml
  ansible/roles/syncthing/tasks/syncthing-for-user.yml
Due: none

Drop libvirtd role
  ansible/roles/libvirtd/README.rst
  ansible/roles/libvirtd/handlers/main.yml
  ansible/roles/libvirtd/tasks/main.yml
  ansible/site.yml
Due: ansible-playbook-syntax-check

Drop all btrfs-related configs
  ansible/filter_plugins/my_filters.py
  ansible/host_vars/beech.jerebear.name/vars
  ansible/host_vars/pine.jerebear.name/vars
  ansible/inventory
  ansible/roles/btrfs_balance/README.rst
  ansible/roles/btrfs_balance/defaults/main.yml
  ansible/roles/btrfs_balance/files/btrfs-balance@.service
  ansible/roles/btrfs_balance/files/btrfs-balance@.timer
  ansible/roles/btrfs_balance/tasks/main.yml
  ansible/roles/btrfs_scrub/README.rst
  ansible/roles/btrfs_scrub/defaults/main.yml
  ansible/roles/btrfs_scrub/tasks/main.yml
  ansible/roles/btrfs_subvolume/README.rst
  ansible/roles/btrfs_subvolume/defaults/main.yml
  ansible/roles/btrfs_subvolume/files/btrfs-subvolume-delete.py
  ansible/roles/btrfs_subvolume/files/btrfs-subvolume-delete@.service
  ansible/roles/btrfs_subvolume/files/btrfs-subvolume-delete@.timer
  ansible/roles/btrfs_subvolume/files/btrfs-subvolume-snapshot@.service
  ansible/roles/btrfs_subvolume/files/btrfs-subvolume-snapshot@.timer
  ansible/roles/btrfs_subvolume/tasks/btrfs-subvolume-delete.yml
  ansible/roles/btrfs_subvolume/tasks/btrfs-subvolume-snapshot.yml
  ansible/roles/btrfs_subvolume/tasks/main.yml
  ansible/site.yml
Due: ansible-playbook-syntax-check, pylint

Drop pacman_conf role
  ansible/roles/pacman_conf/README.rst
  ansible/roles/pacman_conf/files/etc_pacman.d/null.conf
  ansible/roles/pacman_conf/files/etc_systemd_system/mirrorlist-update.service
  ansible/roles/pacman_conf/files/etc_systemd_system/mirrorlist-update.timer
  ansible/roles/pacman_conf/files/etc_systemd_system/pacman-file-update.service
  ansible/roles/pacman_conf/files/etc_systemd_system/pacman-file-update.timer
  ansible/roles/pacman_conf/handlers/main.yml
  ansible/roles/pacman_conf/tasks/main.yml
  ansible/roles/pacman_conf/templates/pacman.conf
  ansible/site.yml
Due: ansible-playbook-syntax-check

Update borg_backup_users role
  ansible/group_vars/all/vars
  ansible/roles/borg_backup_users/tasks/configure-user.yml
  ansible/roles/borg_backup_users/tasks/main.yml
Due: none

Drop references to amelanchier and aronia
  ansible/group_vars/all/vault
  ansible/inventory
  ansible/roles/net_nm/README.rst
  ansible/roles/user_ichimonji10/files/ssh_includes/50-jerebear-name
  ansible/roles/user_ichimonji10/tasks/ssh.yml
Due: none

Drop `workstation_rh_it_root_ca_crt` variable
  ansible/group_vars/all/vars
  ansible/group_vars/all/vault
Due: none

Drop debug statement
  ansible/roles/ssh/tasks/ssh-for-user.yml
Due: none

Rewrite borg_backup_users role
  ansible/group_vars/all/vars
  ansible/group_vars/all/vault
  ansible/roles/borg_backup_users/README.rst
  ansible/roles/borg_backup_users/defaults/main.yml
  ansible/roles/borg_backup_users/files/borg-backup.service
  ansible/roles/borg_backup_users/tasks/configure-user.yml
  ansible/roles/borg_backup_users/templates/50-borg
  ansible/roles/ssh/files/jaudet/includes/50-personal
Due: none

Drop net_nm and net_sd roles
  ansible/roles/net_nm/README.rst
  ansible/roles/net_nm/files/PHX2.ovpn
  ansible/roles/net_nm/files/RDU2.ovpn
  ansible/roles/net_nm/files/dns.conf
  ansible/roles/net_nm/handlers/main.yml
  ansible/roles/net_nm/tasks/cleanup.yml
  ansible/roles/net_nm/tasks/main.yml
  ansible/roles/net_nm/tasks/setup.yml
  ansible/roles/net_sd/README.rst
  ansible/roles/net_sd/files/50-wired.network
  ansible/roles/net_sd/files/override.conf
  ansible/roles/net_sd/tasks/main.yml
  ansible/site.yml
Due: ansible-playbook-syntax-check

Only call converted roles from site.yml playbook
  ansible/site.yml
Due: ansible-playbook-syntax-check

Update sshd role
  ansible/roles/sshd/files/50-jaudet.conf
  ansible/roles/sshd/files/sshd_config
  ansible/roles/sshd/tasks/main.yml
  ansible/site.yml
Due: ansible-playbook-syntax-check

Path conditions:
  ansible-playbook-syntax-check: any of: ^ansible/site.yml$
  pylint: any of: \.py$
